* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.footer {
    display: flex;
    background-color: rgb(58, 58, 57);
    height: 100px;
    /* text-align: center; */
    /* color: #dee1eb; */
    padding: 15px;
}


.header .logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-image: url(../images/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header .brand-text {
    color: #dee1eb;
    font-size: 24px; /* Adjust the font size as needed */
    align-content: center;

}
.container {
    flex: 1;
    display: flex;
}

/*  */

.side_bar {
    width: 20%;
    background-color: rgba(128, 128, 128, 0.324);
    padding: 10px;


}

.main_content {
    padding: 10px;

}
.menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: 10px;
    margin-left: auto;
    justify-content:right;
    align-content: center;
}
.menu_item {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #dee1eb;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px; height: 40px;
    cursor: pointer;
    align-content: center;
}