h1 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.demo {
    font-style: italic;
    color: blueviolet;
}

table,
th,
td {
    border: 1px solid blue;
}

.td-center {
    text-align: center;
}